@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700,800");
html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6, .stat-number {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; }

/* Modular scale basic set up */
nav, .text-small {
  font-size: 1.36rem; }

p {
  font-size: 1.7rem; }

.title {
  font-size: 2.125rem; }

.stat-number {
  font-size: 5.18799rem; }

h1 {
  font-size: 6.48499rem; }

h2 {
  font-size: 4.15039rem; }

h3 {
  font-size: 3.32031rem; }

/* Section hero */
header.hero {
  height: 100vh;
  background-image: url(../images/pexels-photo-699558.jpeg);
  background-size: cover;
  background-position-y: 100%; }
  header.hero nav {
    background-color: #e6e6e6; }
    header.hero nav > a {
      color: black;
      padding: 1.75rem 2.25rem 1.75rem 1.25rem; }
    header.hero nav .nav-link, header.hero nav .btn {
      margin: 0 1rem;
      padding: 0.5rem 1.25rem; }
    header.hero nav a {
      color: black;
      -webkit-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1); }
    header.hero nav a:hover {
      color: #99c355; }
    header.hero nav .btn {
      border-color: black;
      margin-right: 2rem; }
    header.hero nav .btn:hover {
      border-color: #99c355; }

.hero-content {
  color: #e6e6e6; }
  .hero-content .row {
    height: 75vh; }
    .hero-content .row h1 + p {
      margin-top: 2rem;
      margin-bottom: 2.5rem; }
    .hero-content .row .btn {
      color: inherit;
      font-weight: 500;
      background-color: #99c355;
      border-color: #99c355;
      margin-bottom: 1rem;
      padding: 1.5rem 3.75rem;
      text-transform: uppercase !important;
      -webkit-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1); }
    .hero-content .row .btn:hover {
      color: inherit;
      background-color: #2b4b3b;
      border-color: #2b4b3b; }
    .hero-content .row a {
      color: #99c355;
      border-bottom: 1px solid #99c355; }
    .hero-content .row a:hover {
      text-decoration: none; }

/* Setting the navbar search --> À REPLACER DANS SECTION HERO */
.search-navbar {
  color: #4d4d4d;
  margin-right: auto;
  border-left: 1px solid;
  padding: 1rem 1.5rem; }

.ion-ios-search {
  font-size: 1.4em;
  padding-right: 1rem; }

section {
  margin: 7rem 0; }

.stat-number {
  color: #99c355; }

.mt-43 {
  margin-top: 4.3rem; }

.image-banner-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1410px; }

.image-banner-grid .image-banner-grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.image-banner-grid .image-banner-grid-row .v-row-top {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 1214px;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.image-banner-grid .home-img-1 {
  -webkit-box-flex: 4.15;
  -ms-flex: 4.15;
  flex: 4.15;
  height: 37.3vw;
  max-height: 520px;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem; }

.image-banner-grid .home-strong {
  background-image: url(../images/feet-morning-adventure-camping.jpg);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.image-banner-grid .home-img-2 {
  background-image: url(../images/coffee-night-heaven-theme-destruction.jpg);
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  height: 24vw;
  max-height: 360px;
  margin-right: 0;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem; }
